name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  matrix:


  check_rust:
    needs: determine-runner
    name: Check zenoh using Rust 1.75
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(needs.determine-runner.outputs.runner) }}

    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: Update Rust 1.75.0 toolchain
        run: rustup update 1.75.0

      - name: Check zenoh with rust 1.75.0
        run: cargo +1.75.0 check --release --bins --lib

      - name: Install latest cargo-machete
        uses: taiki-e/install-action@cargo-machete

  check:
    needs: determine-runner
    name: Lints and doc tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(needs.determine-runner.outputs.runner) }}

    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: Update Stable Rust toolchain
        run: rustup update stable

      - name: Make sure necessary tools are installed
        run: |
          rustup component add clippy --toolchain stable
          rustup component add rustfmt --toolchain nightly

      - name: Setup rust-cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-bin: false

      - name: Clippy all features
        if: ${{ matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest' }}
        run: cargo +stable clippy --all-targets --all-features -- --deny warnings

      - name: Install generic no_std target
        # Generic no_std target architecture is x86_64-unknown-none
        run: rustup target add x86_64-unknown-none

      - name: Perform no_std checks
        run: cargo check --bin nostd_check --target x86_64-unknown-none --manifest-path ci/nostd-check/Cargo.toml

      - name: Run doctests
        run: cargo test --doc

      - name: Check licenses
        run: cargo deny check licenses

      - name: Check unused dependencies
        run: cargo machete

      - name: Check SemVer Compatibility
        run: cargo +stable semver-checks --verbose --default-features --package zenoh --release-type ${{ env.CARGO_SEMVER_CHECKS_RELEASE_TYPE }} --baseline-version ${{ env.CARGO_SEMVER_CHECKS_BASELINE_VERSION }}
        
      - name: Check TOML formatting
        if: ${{ !contains(matrix.os, 'windows') }}
        run: taplo fmt --check --diff

  test:
    needs: determine-runner
    name: Unit tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(needs.determine-runner.outputs.runner) }}

    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: Install latest Rust toolchain
        run: rustup show

      - name: Setup rust-cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-bin: false

      - name: Set rustflags
        if: ${{ matrix.os == 'windows-latest' }}
        shell: bash
        run: |
            echo "RUSTFLAGS=-Clink-arg=/DEBUG:NONE" >> $GITHUB_ENV

      - name: Install latest nextest
        uses: taiki-e/install-action@nextest

      - name: Run tests stable (sudo macos)
        if: ${{ matrix.os == 'macos-latest' }}
        run: sudo cargo nextest run -p zenoh -F internal_config

      - name: Run tests stable
        if: ${{ matrix.os != 'macos-latest' }}
        run: cargo nextest run -p zenoh -F internal_config

      - name: Run tests with unstable (sudo macos)
        if: ${{ matrix.os == 'macos-latest' }}
        run: sudo cargo nextest run -F test -F internal_config --exclude zenoh-examples --exclude zenoh-plugin-example --workspace

      - name: Run tests with unstable
        if: ${{ matrix.os != 'macos-latest' }}
        run: cargo nextest run -F test -F internal_config --exclude zenoh-examples --exclude zenoh-plugin-example --workspace

      - name: Rename junit test report (sudo macos)
        if: ${{ matrix.os == 'macos-latest' }}
        run: sudo mv target/nextest/default/junit.xml target/nextest/default/tests.junit.xml

      - name: Rename junit test report
        if: ${{ matrix.os != 'macos-latest' }}
        run: mv target/nextest/default/junit.xml target/nextest/default/tests.junit.xml

      - name: Run tests with SHM (sudo macos)
        if: ${{ matrix.os == 'macos-latest' }}
        run: sudo cargo nextest run -F test -F shared-memory -F unstable -F internal_config -E 'not (test(test_default_features))' --exclude zenoh-examples --exclude zenoh-plugin-example --workspace
        env:
          RUST_BACKTRACE: 1

      - name: Run tests with SHM
        if: ${{ matrix.os == 'windows-latest' }}
        run: cargo nextest run -F test -F shared-memory -F unstable -F internal_config -E 'not (test(test_default_features))' --exclude zenoh-examples --exclude zenoh-plugin-example --workspace

      - name: Rename junit test report (sudo macos)
        if: ${{ matrix.os == 'macos-latest' }}
        run: sudo mv target/nextest/default/junit.xml target/nextest/default/tests-shm.junit.xml

      - name: Rename junit test report
        if: ${{ matrix.os == 'windows-latest' }}
        run: mv target/nextest/default/junit.xml target/nextest/default/tests-shm.junit.xml

      - name: Run tests with SHM + unixpipe
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo prlimit --memlock=unlimited --pid=$$ 
          cargo nextest run -F test -F shared-memory -F unstable -F internal_config -F transport_unixpipe -E 'not (test(test_default_features))' --exclude zenoh-examples --exclude zenoh-plugin-example --workspace

      - name: Rename junit test report
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: mv target/nextest/default/junit.xml target/nextest/default/tests-shm-unixpipe.junit.xml

      - name: Check for feature leaks
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: cargo nextest run -p zenohd --no-default-features

      - name: Rename junit test report
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: mv target/nextest/default/junit.xml target/nextest/default/tests-feature-leaks.junit.xml

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  valgrind:
    name: Memory leak checks
    runs-on: ubuntu-latest
    needs: check
    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: Install latest Rust toolchain
        run: rustup show

      - name: Install valgrind
        uses: taiki-e/install-action@valgrind

      - uses: Swatinem/rust-cache@v2
        with:
          cache-bin: false

      - name: Run memory leaks check
        run: ci/valgrind-check/run.sh
        shell: bash

  typos:
    name: Typos Check
    runs-on: ubuntu-latest
    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      - name: Check spelling
        uses: crate-ci/typos@master

  markdown_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v18
        with:
          config: '.markdownlint.yaml'
          globs: '**/README.md'

  doc:
    name: Generate documentation
    runs-on: ubuntu-latest
    steps:
      - name: Clone this repository
        uses: actions/checkout@v4

      # Use a similar command than docs.rs build: rustdoc with nightly toolchain
      - name: Install Rust toolchain nightly for docs gen
        run: rustup toolchain install nightly

      - name: Run rustdoc using Nightly Rust and Zenoh unstable
        # NOTE: force 'unstable' feature for doc generation, as forced for docs.rs build in zenoh/Cargo.toml
        run: |
          cargo +nightly rustdoc --manifest-path ./zenoh/Cargo.toml --lib --features "shared-memory unstable" -j3 \
            -Z rustdoc-map -Z unstable-options -Z rustdoc-scrape-examples \
            --config build.rustdocflags='["--cfg", "docsrs", "-Z", "unstable-options", "--emit=invocation-specific", "--cap-lints", "warn", "--extern-html-root-takes-precedence"]'
